
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: blueviolet;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}


.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburguesa div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px;
}

nav ul li a:hover {
    background-color: darkviolet;
    border-radius: 4px;
}


.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

    nav ul.active {
        display: flex;
    }

    .menu-hamburguesa {
        display: flex;
    }

