.calendario-container {
  max-width: 100%;  /* Asegura que no se desborde */
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  color: rgb(136, 146, 146);
}

h2 {
  margin-bottom: 20px;
}

/* Ajusta el tamaño del calendario */
.react-calendar {
  width: 100%; /* Asegura que el calendario ocupe el 100% de su contenedor */
  max-width: 250px; /* Limita el ancho máximo si lo deseas */
  margin: auto; /* Centra el calendario */
}
