.categorias-container {
  text-align: center;
}

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.category-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.category-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
